<p-dialog #instanceInfoEditor header="Instance Info" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
	<div class="ui-g ui-fluid" *ngIf="instanceInfo">
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="vin">Sync Schedule</label>
			</div>
			<div class="ui-g-8">
				<p-dropdown [options]="syncSchedules" [(ngModel)]="instanceInfo.syncSchedule"></p-dropdown>
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="color">Release</label>
			</div>
			<div class="ui-g-8">
				<p-dropdown [options]="releases" [(ngModel)]="instanceInfo.releaseId"></p-dropdown>
			</div>
		</div>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<button type="button" pButton icon="pi pi-close" (click)="close()" label="Cancel" class="ui-button-secondary"></button>
			<button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
		</div>
	</p-footer>
</p-dialog>
