<p-dropdown *ngIf="!multiple"
		[options]="items"
		[(ngModel)]="selectedItem"
		(onChange)="onSelected($event)"
		[disabled]="disabled"
		[placeholder]="placeholder"></p-dropdown>

<p-multiSelect *ngIf="multiple"
		[options]="items"
		[(ngModel)]="selectedItem"
		(onChange)="onSelectedMultiple($event)"
		[disabled]="disabled"
		[filterPlaceHolder]="placeholder"></p-multiSelect>