<h2>Instances</h2>

<!-- selectionMode="single" [(selection)]="selectedInstance" (onRowSelect)="onInstanceSelect($event)" -->

<p-table [value]="instances" 
		[paginator]="true" [rows]="15">
	<ng-template pTemplate="header">
		<tr>
			<th style="width: 2.25em">ID</th>
			<th>Name</th>
			<th>URL</th>
			<th>Status</th>
			<th></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-instance>
		<tr>
			<td>{{instance.id}}</td>
			<td>{{instance.name}}</td>
			<td>{{instance.url}}</td>
			<td>
				<!-- <p-dropdown [options]="releases" [(ngModel)]="instance.releaseId" [disabled]="true"></p-dropdown> -->
				<synquarium-instance-info [instanceId]="instance.id"></synquarium-instance-info>
			</td>
			<td><button pButton icon="pi pi-pencil" (click)="onInstanceSelect(instance)"></button></td>
		</tr>
	</ng-template>
	<ng-template pTemplate="summary" let-rowData>
		<div style="text-align:left">
			<button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add" class="ui-button-success"></button>
		</div>
	</ng-template>
</p-table>

<p-dialog #instanceEditor header="Instance Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
	<div class="ui-g ui-fluid" *ngIf="instance">
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="vin">Name</label>
			</div>
			<div class="ui-g-8">
				<input pInputText id="name" [(ngModel)]="instance.name" />
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="year">URL</label>
			</div>
			<div class="ui-g-8">
				<input pInputText id="url" [(ngModel)]="instance.url" />
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="color">Release</label>
			</div>
			<div class="ui-g-8">
				<p-dropdown [options]="releases" [(ngModel)]="instance.releaseId"></p-dropdown>
			</div>
		</div>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<button type="button" pButton icon="pi pi-close" (click)="instanceEditor.close()" label="Cancel" class="ui-button-secondary"></button>
			<button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
		</div>
	</p-footer>
</p-dialog>
