/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

.ui-table .ui-table-tbody > tr > td,
.ui-table .ui-table-thead > tr > th,
.ui-table .ui-table-tfoot > tr > td,
.ui-widget-header {
	border: none;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
