/* #4a5e88 */

.topnav {
	overflow: hidden;
	background-color: #4a5e88;
	color: #f2f2f2;
}

.topnav span.app-name {
	float: left;
	padding: 10px;
	font-size: 20px;
}

.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}