<div class="topnav">
	<img class="pull-left" src="assets/logo.png" width="45" height="45"/>
	<span class="app-name">Synquarium</span>
	<!-- <a class="active" href="#home">Login</a> -->
	<a href="#news">Login</a>
</div>