
<div class="demo-tab-content">

	<synquarium-select [ngModel]="selectedRelease" [items]="releases" (ngModelChange)="setRelease($event)"
		labelField="name" keyField="id" placeholder="Select Release"></synquarium-select>
	<synquarium-select [ngModel]="selectedTarget" [items]="targets" (ngModelChange)="filterByTarget($event)"
			placeholder="Filter by Target" keyField="id" labelField="name" [empty]="true"></synquarium-select>
	<synquarium-select [ngModel]="selectedInstance" [items]="instances" (ngModelChange)="selectInstance($event)"
			placeholder="Select Instance" keyField="id" labelField="name" [empty]="true"></synquarium-select>

	<button (click)="merge.open(selectedRelease)">Merge</button>

	<p-table [value]="syncs" [reorderableColumns]="true" (onRowReorder)="moveRow($event)">
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th style="width:2em"></th>
				<th>Name</th>
				<th>Script</th>
				<th style="width:6em"></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-sync let-index="rowIndex">
			<tr [pReorderableRow]="index">
				<td>
					<i class="pi pi-bars" pReorderableRowHandle></i>
				</td>
				<td>{{sync.name}}</td>
				<td>{{sync.body}}</td>
				<td>
					<span class="pi pi-fw pi-pencil" (click)="syncEditor.open(selectedRelease, sync)"></span>
					<span class="pi pi-fw pi-trash" (click)="deleteSync(sync.id)"></span>
					<span >{{syncTraceMap.get(sync.id)?.syncStatus}}</span>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="summary" let-rowData>
			<div style="text-align:left">
				<button type="button" pButton icon="pi pi-plus" (click)="syncEditor.open(selectedRelease)" label="New" class="ui-button-success"></button>
			</div>
		</ng-template>
	</p-table>
</div>

<synquarium-sync-editor #syncEditor (onSave)="saveSync($event)"></synquarium-sync-editor>
<synquarium-merge #merge></synquarium-merge>