.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
	flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
	justify-content: space-between;
	align-items: center;
}

.example-container {
	display: flex;
	flex-direction: column;
}

.example-container>* {
	width: 100%;
}

.demo-tab-content {
	margin-top: 20px;

}