<p-dialog header="Sync Merge" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">

	<p-scrollPanel [style]="{width: '100%', height: '500px'}">
		<p-organizationChart [value]="treeData" selectionMode="single" [(selection)]="selectedRelease"></p-organizationChart>
	</p-scrollPanel>

	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<button type="button" pButton icon="pi pi-check" (click)="merge()" label="Merge"></button>
		</div>
	</p-footer>
</p-dialog>
