<p-dialog header="Sync Details" [(visible)]="displaySyncEditDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
	<div class="ui-g ui-fluid" *ngIf="editedSync">
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="vin">Name</label>
			</div>
			<div class="ui-g-8">
				<input pInputText id="editedSyncName" [(ngModel)]="editedSync.name" />
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="year">Body</label>
			</div>
			<div class="ui-g-8">
				<textarea pInputText id="editedSyncBody" [(ngModel)]="editedSync.body"></textarea>
			</div>
		</div>
		<div class="ui-g-12">
			<div class="ui-g-4">
				<label for="year">Targets</label>
			</div>
			<div class="ui-g-8">
				<synquarium-select [(ngModel)]="editedSync.targets" [items]="targets" placeholder="Targets" 
						keyField="id" labelField="name" [multiple]="true"></synquarium-select>
			</div>
		</div>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
		</div>
	</p-footer>
</p-dialog>
