<span *ngIf="instanceInfo">{{instanceInfo.id}}, {{releaseMap.get(instanceInfo.releaseId)}}, {{instanceInfo.syncSchedule}}</span>
<!-- <button pButton icon="pi pi-fw pi-refresh" (click)="loadInstanceInfo()"></button> -->
<span class="pi pi-fw pi-refresh" (click)="loadInstanceInfo()"></span>
<span class="pi pi-fw pi-pencil" (click)="instanceInfoEditor.open(instanceInfo)"></span>

<synquarium-instance-info-editor #instanceInfoEditor (onSaved)="refresh($event)"></synquarium-instance-info-editor>

