<!-- <mat-card>
	<mat-card-content>
		<h2>Synquarium Dashboard</h2>
		<nav mat-tab-nav-bar>
			<a mat-tab-link 
					*ngFor="let link of navLinks"
					[routerLink]="link.path"
					routerLinkActive
					#rla="routerLinkActive"
					[active]="rla.isActive">
				{{link.label}}
			</a>
		</nav>
		<router-outlet></router-outlet>
	</mat-card-content>
</mat-card> -->

<div class="main">

	<!-- The following CSS classes have been borrowed from PrimeNG's TabView component: -->
	<div class="ui-tabview ui-widget ui-widget-content ui-corner-all ui-tabview-top">
		<ul class="ui-tabview-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all ng-star-inserted">
			<li class="ui-state-default ui-corner-top ng-star-inserted" routerLinkActive="ui-tabview-selected ui-state-active">
				<a [routerLink]="['/syncs']">
					<span class="ui-tabview-left-icon pi pi-bar-chart-o"></span>
					<span class="ui-tabview-title">Syncs</span>
				</a>
			</li>
			<li class="ui-state-default ui-corner-top ng-star-inserted" routerLinkActive="ui-tabview-selected ui-state-active">
				<a [routerLink]="['/instances']">
					<span class="ui-tabview-left-icon pi pi-sitemap"></span>
					<span class="ui-tabview-title">Instances</span>
				</a>
			</li>
			<li class="ui-state-default ui-corner-top ng-star-inserted" routerLinkActive="ui-tabview-selected ui-state-active">
				<a [routerLink]="['/settings']">
					<span class="ui-tabview-left-icon pi pi-cog"></span>
					<span class="ui-tabview-title">Settings</span>
				</a>
			</li>
		</ul>
	</div>
	
	<router-outlet></router-outlet>
</div>