.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
	flex-basis: 0;
}

.mat-expansion-panel-header-description {
	justify-content: space-between;
	align-items: center;
}

div.main {
	padding-left: 10px;
	padding-right: 10px;
}